<ion-header>
  <ion-toolbar>
    <ion-title>Update Manga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <form [formGroup]="updateMangaFg" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input name="title" formControlName="title" type="text" placeholder="Insert title..." required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Pages</ion-label>
        <ion-input name="pages" formControlName="pages" type="number" placeholder="Insert number of pages..." required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Volume</ion-label>
        <ion-input name="volume" formControlName="volume" type="number" placeholder="Insert volume number..." required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Genre</ion-label>
        <ion-input name="genre" formControlName="genre" type="text" placeholder="Insert genre..." required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Image url</ion-label>
        <ion-input name="imagen" formControlName="imagen" type="text" placeholder="Insert image url..." required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Update Manga</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button color="secondary" expand="block" (click)="goBackHome()">Go Back</ion-button>
        </ion-col>
      </ion-row>
      
    </form>
  </ion-list>

</ion-content>